
* {
  box-sizing: border-box;
}

body {
  background-color: #311B92;
}

.container {
  width: 75%;
  padding: 35px 0;
  margin: auto;

}

#searcharea {
  height: 100px;
  background-color: #3d3d3d;
  padding: 30px;
}

.controlls {
  width: 80%;
  height: 50px;
  margin: 5px auto;
}

.btn {
  width: 30%;
  height: 40px;
  margin: 5px 1.33%;
  padding: 12px 0;
  float: left;
  text-align: center;
  border-radius: 48rem;
  background-color: #eee;
}

#tvs {
  width: 100%;
  margin: auto;
  padding: 5px 0;
  text-align: center;
  background-color: #6A1B9A;
}

#tvs ul {
  list-style: none;
  width: 90%;
  margin: 5px auto;
  padding: 0;
}

#tvs ul li {
  background-color: #607D8B;
  height: 100px;
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  border-radius: 48rem;
}

img {
  float: left;
  width: 80px;
  border-radius: 48rem;
}
