
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(27, 15, 82, 0.9);
}

h2, h3, p {
  color: rgba(250, 249, 250, 0.77);
  font-family: 'Kavivanar', cursive;
}


#title {
  text-align: center;
}

.container {
  max-width: 650px;
  padding: 35px 0;
  margin: auto;
  background-color: rgba(33, 5, 49, 0.88);
  color: rgb(191, 191, 191)
}

.controlls {
  width: 70%;
  height: 50px;
  margin: 5px auto;
}

.btn {
  width: 30%;
  height: 40px;
  margin: 5px 1.33%;
  padding: 8px 0;
  float: left;
  text-align: center;
  border-radius: 48rem;
  background-color: rgba(58, 89, 90, 0.77);
  border: 3px solid rgba(238, 238, 238, 0.17);
}

#tvs {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#tvs ul {
  list-style: none;
  width: 90%;
  margin: 5px auto;
  padding: 0;
}

#tvs ul li {
  position: relative;
  background-color: rgba(105, 96, 139, 0.28);
  height: 110px;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 1rem;
  border: 3px solid rgba(238, 238, 238, 0.17);
}

#tvs ul li a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(140, 180, 193, 0.9);
}

.live {
  position: absolute;
  width: 80px;
  height: 29px;
  right: -20px;
  top: -10px;
  padding: 3px;
  background-color: rgba(27, 154, 44, 0.94);
  border-radius: 48rem;
  border: 3px solid rgba(238, 238, 238, 0.24);
}

.placeholder {
  width: 10%;
  float: left;
}
.info {
  float: right;
  width: 75%;
  text-align: left;
  color: #eee;
  font-style: italic;

}

.info p {
  margin: 0;
padding-top: 10px;
  border-top: 1px solid rgba(238, 238, 238, 0.24);
}

img {
  max-width: 80px;
  border-radius: 1rem;
}
